<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <div class="w-full h-screen bg-zinc-900 p-10 gap-3 text-white">

        <h1 class="px-3 py-3 font-bold ">Create A User</h1>
            <form method="post" action="\create">
                <input class="px-3 rounded-md bg-transparent py-2 border-2 border-zinc-800 outline-none" type="text"
                    placeholder="username" name="username">
                <input class="px-3 rounded-md bg-transparent py-2 border-2 border-zinc-800 outline-none" type="email"
                    placeholder="email" name="email">
                <input class="px-3 rounded-md bg-transparent py-2 border-2 border-zinc-800 outline-none" type="password"
                    placeholder="password" name="password">
                <input class="px-3 rounded-md bg-transparent py-2 border-2 border-zinc-800 outline-none" type="number"
                    placeholder="age" name="age">
                <input class="px-4 bg-blue-600 rounded-md py-2 border-2 border-zinc-800 font-semibold" type="submit" name="Submit">
            </form>
        </div>
    </body>

</html>